In [1]:
!git clone https://github.com/PhonePe/pulse.git

In [2]:
#Import necessary libraries
import pandas as pd
import json
import os
import git
import mysql.connector
from sqlalchemy import create_engine

In [4]:
#Import os to get the required path
import os
path="C:/Users/LENOVO/2.Phonepe puls vizualization/pulse/data/aggregated/transaction/country/india/state"
agg_trans_state=os.listdir(path)
agg_trans_state

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [5]:
#changed the state name as per the geographic state form
state_mapping= {'andaman-&-nicobar-islands': 'Andaman and Nicobar Islands',
    'tamil-nadu': 'Tamil Nadu',
    'lakshadweep': 'Lakshadweep',
    'telangana': 'Telangana',
    'manipur': 'Manipur',
    'haryana': 'Haryana',
    'gujarat': 'Gujarat',
    'sikkim': 'Sikkim',
    'delhi': 'Delhi',
    'west-bengal': 'West Bengal',
    'uttar-pradesh': 'Uttar Pradesh',
    'goa': 'Goa',
    'punjab': 'Punjab',
    'arunachal-pradesh': 'Arunachal Pradesh',
    'karnataka': 'Karnataka',
    'jammu-&-kashmir': 'Jammu and Kashmir',
    'maharashtra': 'Maharashtra',
    'odisha': 'Odisha',
    'madhya-pradesh': 'Madhya Pradesh',
    'rajasthan': 'Rajasthan',
    'andhra-pradesh': 'Andhra Pradesh',
    'chandigarh': 'Chandigarh',
    'kerala': 'Kerala',
    'chhattisgarh': 'Chhattisgarh',
    'tripura': 'Tripura',
    'mizoram': 'Mizoram',
    'himachal-pradesh': 'Himachal Pradesh',
    'dadra-&-nagar-haveli-&-daman-&-diu': 'Dadra and Nagar Haveli and Daman and Diu',
    'ladakh': 'Ladakh',
    'assam': 'Assam',
    'meghalaya': 'Meghalaya',
    'uttarakhand': 'Uttarakhand',
    'puducherry': 'Puducherry',
    'bihar': 'Bihar',
    'jharkhand': 'Jharkhand',
    'nagaland': 'Nagaland'
}

In [6]:

#Fetch details from aggregated transaction folder
path="C:/Users/LENOVO/2.Phonepe puls vizualization/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_state=os.listdir(path)

abc={"State":[], "Year":[], "Quater":[],"Transaction_type":[], "Transaction_count":[], "Transaction_amount":[]}

for i in agg_trans_state:
    p_i=path+i+"/"
    agg_year=os.listdir(p_i)
    for j in agg_year:
        p_j=p_i+j+"/"
        agg_year_list=os.listdir(p_j)
        for k in agg_year_list:
            p_k=p_j+k
            data=open(p_k, "r")
            d=json.load(data)
            for l in d["data"]["transactionData"]:
                Name=l["name"]
                count=l["paymentInstruments"][0]["count"]
                amount=l["paymentInstruments"][0]["amount"]
                abc["Transaction_type"].append(Name)
                abc["Transaction_count"].append(count)
                abc["Transaction_amount"].append(amount)
                abc["State"].append(i)
                abc["Year"].append(j)
                abc["Quater"].append(int(k.strip(".json")))
                
agg_transac=pd.DataFrame(abc)      
agg_transac['State'] = agg_transac['State'].map(state_mapping)

#Inserting the fetched data into SQL table
mydb=mysql.connector.connect(host="localhost",user="root",password="")
mycursor=mydb.cursor(buffered=True)

db_connection_str = f"mysql+mysqlconnector://root:password@localhost/phonepe"
db_engine = create_engine(db_connection_str)

mycursor.execute("CREATE database if not exists Phonepe")
mycursor.execute("USE Phonepe")
mycursor.execute("""CREATE table if not exists aggregated_transaction(State VARCHAR(50), 
                                                Year INT(4),
                                                Quater INT(2), 
                                                Transaction_type VARCHAR(40), 
                                                Transaction_count BIGINT, 
                                                Transaction_amount BIGINT)""")
mydb.commit()

agg_transac.to_sql(name="aggregated_transaction", con=db_engine, if_exists="append", index=False)
mycursor.close()
mydb.close()

In [7]:
agg_transac

,State,Year,Quater,Transaction_type,Transaction_count,Transaction_amount
0,Andaman and Nicobar Islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman and Nicobar Islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman and Nicobar Islands,2018,1,Merchant payments,298,4.525072e+05
3,Andaman and Nicobar Islands,2018,1,Financial Services,33,1.060142e+04
4,Andaman and Nicobar Islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4489,West Bengal,2024,1,Merchant payments,407607197,2.732137e+11
4490,West Bengal,2024,1,Peer-to-peer payments,355646156,1.100744e+12
4491,West Bengal,2024,1,Recharge & bill payments,72216060,4.716192e+10
4492,West Bengal,2024,1,Financial Services,451008,5.307383e+08
4493,West Bengal,2024,1,Others,488166,3.750216e+08

In [8]:

#Fetch details from aggregated user folder
path="C:/Users/LENOVO/2.Phonepe puls vizualization/pulse/data/aggregated/user/country/india/state/"
agg_user_state=os.listdir(path)

de={"State":[], "Year":[], "Quater":[],"Registered_PhonePe_users":[], "PhonePe_app_opens":[]}

for i1 in agg_user_state:
    p_i1=path+i1+"/"
    if os.path.isdir(p_i1):
        agg_u_year=os.listdir(p_i1)
        for j1 in agg_u_year:
            p_j1=p_i1+j1+"/"
            if os.path.isdir(p_j1):
                agg_u_year_list=os.listdir(p_j1)
                for k1 in agg_u_year_list:
                    p_k1=p_j1+k1
                    if k1.endswith('.json'):
                        with open(p_k1, 'r') as Data:
                            d1=json.load(Data)
                            for z in d1:
                                User=d1["data"]["aggregated"]["registeredUsers"]
                                Opens=d1["data"]["aggregated"]["appOpens"]
                                de["Registered_PhonePe_users"].append(User)
                                de["PhonePe_app_opens"].append(Opens)
                                de["State"].append(i1)
                                de["Year"].append(j1)
                                de["Quater"].append(int(k1.strip(".json")))
                                   
agg_user=pd.DataFrame(de)
agg_user['State'] = agg_user['State'].map(state_mapping)

#Inserting the fetched data into SQL table
mydb=mysql.connector.connect(host="localhost",user="root",password="")
mycursor=mydb.cursor(buffered=True)

db_connection_str = f"mysql+mysqlconnector://root:password@localhost/phonepe"
db_engine = create_engine(db_connection_str)

mycursor.execute("USE Phonepe")
mycursor.execute("""CREATE table if not exists aggregated_user(State VARCHAR(50), 
                                                Year INT(4),
                                                Quater INT(2), 
                                                Registered_PhonePe_users BIGINT, 
                                                PhonePe_app_opens BIGINT)""") 
mydb.commit()

agg_user.to_sql(name="aggregated_user", con=db_engine, if_exists="append", index=False)
mycursor.close()
mydb.close()

In [41]:
agg_user

,State,Year,Quater,Registered_PhonePe_users,PhonePe_app_opens
0,andaman-&-nicobar-islands,2018,1,6740,0
1,andaman-&-nicobar-islands,2018,1,6740,0
2,andaman-&-nicobar-islands,2018,1,6740,0
3,andaman-&-nicobar-islands,2018,1,6740,0
4,andaman-&-nicobar-islands,2018,2,9405,0
...,...,...,...,...,...
3595,west-bengal,2023,4,30064546,1467442959
3596,west-bengal,2024,1,31306843,633526507
3597,west-bengal,2024,1,31306843,633526507
3598,west-bengal,2024,1,31306843,633526507
3599,west-bengal,2024,1,31306843,633526507

In [9]:
#Fetch details from Map transaction folder
path="C:/Users/LENOVO/2.Phonepe puls vizualization/pulse/data/map/transaction/hover/country/india/state/"
map_trans_state=os.listdir(path)

fgh={"State":[], "Year":[], "Quater":[],"District":[], "All_Transactions":[], "Total_payment_value":[]}

for i in map_trans_state:
    p_i=path+i+"/"
    if os.path.isdir(p_i):
        map_trans_year=os.listdir(p_i)
        for j in map_trans_year:
            p_j=p_i+j+"/"
            if os.path.isdir(p_j):
                map_trans_year_list=os.listdir(p_j)
                for k in map_trans_year_list:
                    p_k=p_j+k
                    if k.endswith('.json'):
                        with open(p_k, 'r') as Data:
                            D=json.load(Data)
                            for z in D["data"]["hoverDataList"]:
                                Dist=z["name"]
                                count=z["metric"][0]["count"]
                                amount=z["metric"][0]["amount"]
                                fgh["District"].append(Dist)
                                fgh["All_Transactions"].append(count)
                                fgh["Total_payment_value"].append(amount)
                                fgh["State"].append(i)
                                fgh["Year"].append(j)
                                fgh["Quater"].append(int(k.strip(".json")))
                                   
map_transac=pd.DataFrame(fgh)
map_transac['State'] = map_transac['State'].map(state_mapping)

#Inserting the fetched data into SQL table
mydb=mysql.connector.connect(host="localhost",user="root",password="")
mycursor=mydb.cursor(buffered=True)

db_connection_str = f"mysql+mysqlconnector://root:password@localhost/phonepe"
db_engine = create_engine(db_connection_str)

mycursor.execute("USE Phonepe")
mycursor.execute("""CREATE table if not exists map_transaction(State VARCHAR(50), 
                                                Year INT(4),
                                                Quater INT(2), 
                                                District VARCHAR(50), 
                                                All_Transactions BIGINT,
                                                Total_payment_value  BIGINT)""") 
mydb.commit()

map_transac.to_sql(name="map_transaction", con=db_engine, if_exists="append", index=False)
mycursor.close()
mydb.close()

In [10]:
map_transac

,State,Year,Quater,District,All_Transactions,Total_payment_value
0,Andaman and Nicobar Islands,2018,1,north and middle andaman district,442,9.316631e+05
1,Andaman and Nicobar Islands,2018,1,south andaman district,5688,1.256025e+07
2,Andaman and Nicobar Islands,2018,1,nicobars district,528,1.139849e+06
3,Andaman and Nicobar Islands,2018,2,north and middle andaman district,825,1.317863e+06
4,Andaman and Nicobar Islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
18291,West Bengal,2024,1,nadia district,42154481,7.903014e+10
18292,West Bengal,2024,1,birbhum district,24812300,4.640025e+10
18293,West Bengal,2024,1,purba medinipur district,46212626,9.237355e+10
18294,West Bengal,2024,1,maldah district,42299563,7.671603e+10
18295,West Bengal,2024,1,darjiling district,18129044,2.927784e+10

In [11]:
#Fetch details from Map user folder
path="C:/Users/LENOVO/2.Phonepe puls vizualization/pulse/data/map/user/hover/country/india/state/"
map_user_state=os.listdir(path)

xyz={"State":[], "Year":[], "Quater":[],"District":[], "Total_registered_users":[], "Total_app_opens":[]}

for i in map_user_state:
    p_i=path+i+"/"
    if os.path.isdir(p_i):
        map_user_year=os.listdir(p_i)
        for j in map_user_year:
            p_j=p_i+j+"/"
            if os.path.isdir(p_j):
                map_user_year_list=os.listdir(p_j)
                for k in map_user_year_list:
                    p_k=p_j+k
                    if k.endswith('.json'):
                        with open(p_k, 'r') as Data:
                            D=json.load(Data)
                            key_list=list(D['data']['hoverData'].keys())
                            for dist in key_list:
                                xyz['State'].append(i)
                                xyz['Year'].append(j)
                                xyz['Quater'].append(int(k.strip('.json')))
                                xyz['District'].append(dist)
                                xyz['Total_registered_users'].append(D['data']['hoverData'][dist]['registeredUsers'])
                                xyz['Total_app_opens'].append(D['data']['hoverData'][dist]['appOpens'])
map_user=pd.DataFrame(xyz)
map_user['State'] = map_user['State'].map(state_mapping)

#Inserting the fetched data into SQL table
mydb=mysql.connector.connect(host="localhost",user="root",password="")
mycursor=mydb.cursor(buffered=True)

db_connection_str = f"mysql+mysqlconnector://root:password@localhost/phonepe"
db_engine = create_engine(db_connection_str)

mycursor.execute("USE Phonepe")
mycursor.execute("""CREATE table if not exists Map_user(State VARCHAR(50), 
                                                Year INT(4),
                                                Quater INT(2), 
                                                District VARCHAR(100), 
                                                Total_registered_users BIGINT,
                                                Total_app_opens  BIGINT)""") 
mydb.commit()

map_user.to_sql(name="Map_user", con=db_engine, if_exists="append", index=False)
mycursor.close()
mydb.close()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_1396\648182828.py:46: UserWarning: The provided table name 'Map_user' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  map_user.to_sql(name="Map_user", con=db_engine, if_exists="append", index=False)

In [12]:
map_user

,State,Year,Quater,District,Total_registered_users,Total_app_opens
0,Andaman and Nicobar Islands,2018,1,north and middle andaman district,632,0
1,Andaman and Nicobar Islands,2018,1,south andaman district,5846,0
2,Andaman and Nicobar Islands,2018,1,nicobars district,262,0
3,Andaman and Nicobar Islands,2018,2,north and middle andaman district,911,0
4,Andaman and Nicobar Islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
18295,West Bengal,2024,1,nadia district,1671140,13679202
18296,West Bengal,2024,1,birbhum district,1056537,30502875
18297,West Bengal,2024,1,purba medinipur district,1655920,18688405
18298,West Bengal,2024,1,maldah district,1183956,33270738
18299,West Bengal,2024,1,darjiling district,686254,31485682

In [13]:
#Fetch the required data from Top transaction folder
path="C:/Users/LENOVO/2.Phonepe puls vizualization/pulse/data/top/transaction/country/india/state/"
top_trans_state=os.listdir(path)

mno={"State":[], "Year":[], "Quater":[],"District":[], "Districts_total_count":[], "Districts_total_amount":[],"Postalcodes":[],"Postalcodes_total_count":[],"Postalcodes_total_amount":[]}

for i in top_trans_state:
    p_i=path+i+"/"
    if os.path.isdir(p_i):
        top_trans_year=os.listdir(p_i)
        for j in top_trans_year:
            p_j=p_i+j+"/"
            if os.path.isdir(p_j):
                top_trans_year_list=os.listdir(p_j)
                for k in top_trans_year_list:
                    p_k=p_j+k
                    if k.endswith('.json'):
                        with open(p_k, 'r') as Data:
                            D=json.load(Data)
                            if D is not None and 'data' in D and 'states' in D['data'] and 'districts' in D['data'] and 'pincodes' in D['data']:
                                distname = D['data']['districts'][0]['entityName'] if D['data']['districts'] else "Unknown District"
                                postcode = D['data']['pincodes'][0]['entityName'] if D['data']['pincodes'] else "Unknown Postalcode"
                                distcount=D['data']['districts'][0]['metric']['count'] if D['data']['districts'] else "Unknown District count"
                                distamount=D['data']['districts'][0]['metric']['amount'] if D['data']['districts'] else "Unknown District amount"
                                postcodecount=D['data']['pincodes'][0]['metric']['count'] if D['data']['pincodes'] else "Unknown Postalcode count"
                                postcodeamount=D['data']['pincodes'][0]['metric']['amount'] if D['data']['pincodes'] else "Unknown Postalcode amount"
                                mno["District"].append(distname)
                                mno["Districts_total_count"].append(distcount)
                                mno["Districts_total_amount"].append(distamount)
                                mno["Postalcodes"].append(postcode)
                                mno["Postalcodes_total_count"].append(postcodecount)
                                mno["Postalcodes_total_amount"].append(postcodeamount)
                                mno["State"].append(i)
                                mno["Year"].append(j)
                                mno['Quater'].append(int(k.strip('.json')))

top_transac=pd.DataFrame(mno)
top_transac['State'] = top_transac['State'].map(state_mapping)

#Insert fetched data into SQL table                           
mydb=mysql.connector.connect(host="localhost",user="root",password="")
mycursor=mydb.cursor(buffered=True)

db_connection_str = f"mysql+mysqlconnector://root:password@localhost/phonepe"
db_engine = create_engine(db_connection_str)

mycursor.execute("USE Phonepe")
mycursor.execute("""CREATE table if not exists top_transaction(State VARCHAR(50), 
                                                Year INT(4),
                                                Quater INT(2), 
                                                District VARCHAR(100), 
                                                Districts_total_count BIGINT,
                                                Districts_total_amount  BIGINT,
                                                Postalcodes INT(7),
                                                Postalcodes_total_count BIGINT,
                                                Postalcodes_total_amount BIGINT)""") 
mydb.commit()

top_transac.to_sql(name="top_transaction", con=db_engine, if_exists="append", index=False)
mycursor.close()
mydb.close()

In [14]:
top_transac

,State,Year,Quater,District,Districts_total_count,Districts_total_amount,Postalcodes,Postalcodes_total_count,Postalcodes_total_amount
0,Andaman and Nicobar Islands,2018,1,south andaman,5688,1.256025e+07,744101,1622,2.769298e+06
1,Andaman and Nicobar Islands,2018,2,south andaman,9395,2.394824e+07,744101,2701,6.310090e+06
2,Andaman and Nicobar Islands,2018,3,south andaman,13511,4.426811e+07,744101,3462,1.083389e+07
3,Andaman and Nicobar Islands,2018,4,south andaman,20136,7.541184e+07,744101,4674,1.639286e+07
4,Andaman and Nicobar Islands,2019,1,south andaman,25683,8.550197e+07,744103,5742,1.940196e+07
...,...,...,...,...,...,...,...,...,...
895,West Bengal,2023,1,north twenty four parganas,82336235,1.343910e+11,700156,5958877,5.609483e+09
896,West Bengal,2023,2,north twenty four parganas,96628528,1.515717e+11,700156,6927595,6.467350e+09
897,West Bengal,2023,3,north twenty four parganas,113910456,1.668446e+11,700156,8289388,7.339618e+09
898,West Bengal,2023,4,north twenty four parganas,128343164,1.864662e+11,700156,8786298,7.815869e+09
899,West Bengal,2024,1,north twenty four parganas,139181072,2.030766e+11,700156,9224512,8.133801e+09

In [15]:
#Fetch the required data from Top user folder
path="C:/Users/LENOVO/2.Phonepe puls vizualization/pulse/data/top/user/country/india/state/"
top_user_state=os.listdir(path)

pqr={"State":[], "Year":[], "Quater":[], "District":[],"Districts_registered_user":[],"Postalcodes":[],"Postalcodes_registered_user":[]}

for i in top_user_state:
    p_i=path+i+"/"
    if os.path.isdir(p_i):
        top_user_year=os.listdir(p_i)
        for j in top_user_year:
            p_j=p_i+j+"/"
            if os.path.isdir(p_j):
                top_user_year_list=os.listdir(p_j)
                for k in top_user_year_list:
                    p_k=p_j+k
                    if k.endswith('.json'):
                        with open(p_k, 'r') as Data:
                            D=json.load(Data)
                            if D is not None and 'data' in D and 'states' in D['data'] and 'districts' in D['data'] and 'pincodes' in D['data']:
                                distname = D['data']['districts'][0]['name'] if D['data']['districts'] else "Unknown District"
                                postcode = D['data']['pincodes'][0]['name'] if D['data']['pincodes'] else "Unknown Postalcode"
                                distreguser=D['data']['districts'][0]['registeredUsers'] if D['data']['districts'] else "Unknown District registered user count"
                                postcodereguser=D['data']['pincodes'][0]['registeredUsers'] if D['data']['pincodes'] else "Unknown Postalcode regestered user count"
                                pqr["District"].append(distname)
                                pqr["Districts_registered_user"].append(distreguser)
                                pqr["Postalcodes"].append(postcode)
                                pqr["Postalcodes_registered_user"].append(postcodereguser)
                                pqr["State"].append(i)
                                pqr["Year"].append(j)
                                pqr['Quater'].append(int(k.strip('.json')))

top_user=pd.DataFrame(pqr)
top_user['State'] = top_user['State'].map(state_mapping)

#Insert fetched data into SQL table                           
mydb=mysql.connector.connect(host="localhost",user="root",password="")
mycursor=mydb.cursor(buffered=True)

db_connection_str = f"mysql+mysqlconnector://root:password@localhost/phonepe"
db_engine = create_engine(db_connection_str)

mycursor.execute("USE Phonepe")
mycursor.execute("""CREATE table if not exists Top_user(State VARCHAR(50), 
                                                Year INT(4),
                                                Quater INT(2), 
                                                District VARCHAR(100), 
                                                Districts_registered_user BIGINT,
                                                Postalcodes INT(7),
                                                Postalcodes_registered_user BIGINT)""") 
mydb.commit()

top_user.to_sql(name="Top_user", con=db_engine, if_exists="append", index=False)
mycursor.close()
mydb.close()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_1396\2440183744.py:51: UserWarning: The provided table name 'Top_user' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  top_user.to_sql(name="Top_user", con=db_engine, if_exists="append", index=False)

In [16]:
top_user

,State,Year,Quater,District,Districts_registered_user,Postalcodes,Postalcodes_registered_user
0,Andaman and Nicobar Islands,2018,1,south andaman,5846,744103,1608
1,Andaman and Nicobar Islands,2018,2,south andaman,8143,744103,2188
2,Andaman and Nicobar Islands,2018,3,south andaman,10474,744103,2741
3,Andaman and Nicobar Islands,2018,4,south andaman,13133,744103,3373
4,Andaman and Nicobar Islands,2019,1,south andaman,15961,744103,4136
...,...,...,...,...,...,...,...
895,West Bengal,2023,1,north twenty four parganas,3926974,711101,170440
896,West Bengal,2023,2,north twenty four parganas,4079270,711101,176861
897,West Bengal,2023,3,north twenty four parganas,4241525,711101,183739
898,West Bengal,2023,4,north twenty four parganas,4396190,711101,190311
899,West Bengal,2024,1,north twenty four parganas,4570438,711101,197875

In [17]:

#dataframe creation from sql
mydb=mysql.connector.connect(host="localhost",user="root",password="",database="Phonepe")
mycursor=mydb.cursor(buffered=True)

mycursor.execute("SELECT * FROM aggregated_transaction")
mydb.commit()
df1=mycursor.fetchall()
Aggregate_Transaction = pd.DataFrame(df1,columns=('State', 'Year','Quater','Transaction_type', 'Transaction_count', 'Transaction_amount'))



mycursor.execute("SELECT * FROM aggregated_user")
mydb.commit()
df2=mycursor.fetchall()
Aggregated_user= pd.DataFrame(df2,columns=('State', 'Year','Quater','Registered_PhonePe_users', 'PhonePe_app_opens'))



mycursor.execute("SELECT * FROM map_transaction")
mydb.commit()
df3=mycursor.fetchall()
Map_transaction= pd.DataFrame(df3,columns=('State', 'Year','Quater','District', 'All_Transactions',"Total_payment_value"))



mycursor.execute("SELECT * FROM Map_user")
mydb.commit()
df4=mycursor.fetchall()
Map_User= pd.DataFrame(df4,columns=('State', 'Year','Quater','District', 'Total_registered_users',"Total_app_opens"))



mycursor.execute("SELECT * FROM top_transaction")
mydb.commit()
df5=mycursor.fetchall()
Top_Transaction= pd.DataFrame(df5,columns=('State', 'Year','Quater','District', 'Districts_total_count',"Districts_total_amount","Postalcodes","Postalcodes_total_count","Postalcodes_total_amount"))



mycursor.execute("SELECT * FROM Top_user")
mydb.commit()
df6=mycursor.fetchall()
Top_User= pd.DataFrame(df6,columns=('State', 'Year','Quater','District', 'Districts_registered_user',"Postalcodes","Postalcodes_registered_user"))

In [18]:
Aggregate_Transaction

,State,Year,Quater,Transaction_type,Transaction_count,Transaction_amount
0,Andaman and Nicobar Islands,2018,1,Recharge & bill payments,4200,1845307
1,Andaman and Nicobar Islands,2018,1,Peer-to-peer payments,1871,12138655
2,Andaman and Nicobar Islands,2018,1,Merchant payments,298,452507
3,Andaman and Nicobar Islands,2018,1,Financial Services,33,10601
4,Andaman and Nicobar Islands,2018,1,Others,256,184690
...,...,...,...,...,...,...
4489,West Bengal,2024,1,Merchant payments,407607197,273213691928
4490,West Bengal,2024,1,Peer-to-peer payments,355646156,1100744138548
4491,West Bengal,2024,1,Recharge & bill payments,72216060,47161916445
4492,West Bengal,2024,1,Financial Services,451008,530738282
4493,West Bengal,2024,1,Others,488166,375021630

In [19]:
Aggregated_user

,State,Year,Quater,Registered_PhonePe_users,PhonePe_app_opens
0,Andaman and Nicobar Islands,2018,1,6740,0
1,Andaman and Nicobar Islands,2018,1,6740,0
2,Andaman and Nicobar Islands,2018,1,6740,0
3,Andaman and Nicobar Islands,2018,1,6740,0
4,Andaman and Nicobar Islands,2018,2,9405,0
...,...,...,...,...,...
3595,West Bengal,2023,4,30064546,1467442959
3596,West Bengal,2024,1,31306843,633526507
3597,West Bengal,2024,1,31306843,633526507
3598,West Bengal,2024,1,31306843,633526507
3599,West Bengal,2024,1,31306843,633526507

In [23]:
Map_transaction

,State,Year,Quater,District,All_Transactions,Total_payment_value
0,Andaman and Nicobar Islands,2018,1,north and middle andaman district,442,931663
1,Andaman and Nicobar Islands,2018,1,south andaman district,5688,12560249
2,Andaman and Nicobar Islands,2018,1,nicobars district,528,1139849
3,Andaman and Nicobar Islands,2018,2,north and middle andaman district,825,1317863
4,Andaman and Nicobar Islands,2018,2,south andaman district,9395,23948236
...,...,...,...,...,...,...
18291,West Bengal,2024,1,nadia district,42154481,79030136775
18292,West Bengal,2024,1,birbhum district,24812300,46400251550
18293,West Bengal,2024,1,purba medinipur district,46212626,92373546681
18294,West Bengal,2024,1,maldah district,42299563,76716033762
18295,West Bengal,2024,1,darjiling district,18129044,29277839174

In [22]:
Map_User

,State,Year,Quater,District,Total_registered_users,Total_app_opens
0,Andaman and Nicobar Islands,2018,1,north and middle andaman district,632,0
1,Andaman and Nicobar Islands,2018,1,south andaman district,5846,0
2,Andaman and Nicobar Islands,2018,1,nicobars district,262,0
3,Andaman and Nicobar Islands,2018,2,north and middle andaman district,911,0
4,Andaman and Nicobar Islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
18295,West Bengal,2024,1,nadia district,1671140,13679202
18296,West Bengal,2024,1,birbhum district,1056537,30502875
18297,West Bengal,2024,1,purba medinipur district,1655920,18688405
18298,West Bengal,2024,1,maldah district,1183956,33270738
18299,West Bengal,2024,1,darjiling district,686254,31485682

In [21]:
Top_Transaction

,State,Year,Quater,District,Districts_total_count,Districts_total_amount,Postalcodes,Postalcodes_total_count,Postalcodes_total_amount
0,Andaman and Nicobar Islands,2018,1,south andaman,5688,12560249,744101,1622,2769298
1,Andaman and Nicobar Islands,2018,2,south andaman,9395,23948236,744101,2701,6310090
2,Andaman and Nicobar Islands,2018,3,south andaman,13511,44268112,744101,3462,10833893
3,Andaman and Nicobar Islands,2018,4,south andaman,20136,75411841,744101,4674,16392855
4,Andaman and Nicobar Islands,2019,1,south andaman,25683,85501972,744103,5742,19401965
...,...,...,...,...,...,...,...,...,...
895,West Bengal,2023,1,north twenty four parganas,82336235,134391026103,700156,5958877,5609483195
896,West Bengal,2023,2,north twenty four parganas,96628528,151571700376,700156,6927595,6467350121
897,West Bengal,2023,3,north twenty four parganas,113910456,166844566801,700156,8289388,7339618058
898,West Bengal,2023,4,north twenty four parganas,128343164,186466249070,700156,8786298,7815868697
899,West Bengal,2024,1,north twenty four parganas,139181072,203076605812,700156,9224512,8133801116

In [20]:
Top_User

,State,Year,Quater,District,Districts_registered_user,Postalcodes,Postalcodes_registered_user
0,Andaman and Nicobar Islands,2018,1,south andaman,5846,744103,1608
1,Andaman and Nicobar Islands,2018,2,south andaman,8143,744103,2188
2,Andaman and Nicobar Islands,2018,3,south andaman,10474,744103,2741
3,Andaman and Nicobar Islands,2018,4,south andaman,13133,744103,3373
4,Andaman and Nicobar Islands,2019,1,south andaman,15961,744103,4136
...,...,...,...,...,...,...,...
895,West Bengal,2023,1,north twenty four parganas,3926974,711101,170440
896,West Bengal,2023,2,north twenty four parganas,4079270,711101,176861
897,West Bengal,2023,3,north twenty four parganas,4241525,711101,183739
898,West Bengal,2023,4,north twenty four parganas,4396190,711101,190311
899,West Bengal,2024,1,north twenty four parganas,4570438,711101,197875